build
out
cmake-build-debug
dist
target

.idea
.vscode
.vs

*.class

venv
node_modules
__pycache__

# MS and Libre office backup
.~*
~*.docx

# Powerdesigner backup files
*.oob
*.eab
*.rqb
*.pjb

# Visaul Paradigm backup files
*.vpp.bak_????
*.vpp.lck
