<li class="admin-post-list-item collection-item">
	<div class="row">
		<div class="col s4 m6 l2 truncate">
			<a target="_blank" href="{{blogUrl}}/post/{{post.slug}}">{{post.title}}</a>
		</div>
		<div class="col s2 hide-on-med-and-down truncate">
			<a target="_blank" href="{{blogUrl}}/post/{{post.slug}}">
				<i class="material-icons left">open_in_new</i>
				{{post.slug}}
			</a>
		</div>
		<div class="col s2 hide-on-med-and-down">
			{{post.user.displayName}}
		</div>
		<div class="col s2 hide-on-med-and-down">
			<span class="blob grey darken-2">{{post.category.name}}</span>
		</div>
		<div class="col s2 m2 l1">
			<i class="material-icons theme-primary-text cursor" *ngIf="post.published"
			   tooltip="Published" [show-delay]="500">assignment_turned_in</i>
			<i class="material-icons" *ngIf="!post.published"></i>
		</div>
		<div class="col s2 m2 l1">
			{{post.lastModifiedDate | toDate | amTimeAgo}}
		</div>
		<div class="col s2 m2 l2">
			<a  routerLink="edit/{{post.id}}" class="pointer" tooltip="Edit" [show-delay]="500"><i class="material-icons theme-primary-text">edit</i></a>
			<a (click)="delete()" class="pointer" tooltip="Delete" [show-delay]="500"><i class="material-icons theme-error-text">delete</i></a>
		</div>
	</div>
</li>
