main {
	.section {
	}
	#company-careers {
		background-image: url('../img/main-default.png');
		height: 93vh;
		background-size: auto 100%;
		margin-top: 12vh;
		background-position: center;
		background-repeat: no-repeat;
		.container {
			margin-top: 12vh;
		}
		#file-upload {
			form {
				margin-top: 1vh;
			}
			color: white;
			font-family: 'Gotham';
		}
	}
}
