main #ts {
  background-image: url("../img/ts-default.jpg");
}

main #tx {
  background-image: url("../img/tx-default.jpg");
}

main #t3 {
  background-image: url("../img/t3-default.jpg");
}

main #tr {
  background-image: url("../img/tr-default.jpg");
}

main #yu {
  background-image: url("../img/yugo.jpg");
}

main section {
  height: 93vh;
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

main section h2 {
  font-family: "Gotham";
  font-weight: bold;
  text-align: center;
  position: relative;
  top: 10%;
  background-color: rgba(0, 0, 0, 0.35);
  padding: 10px;
}

main section .section-more {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0px auto;
  top: 15%;
}

main section .section-more button {
  border-radius: 30px;
  font-size: 22px;
  border: 4px solid black;
  font-family: "Gotham";
  font-weight: 700;
  color: white;
  width: 200px;
  display: inline-block;
  background-color: #e21d1d;
}

main section .section-more .learnMore {
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
}

main section .fade {
  opacity: 0;
}

main section .content {
  -webkit-transition: 500ms;
  transition: 500ms;
  position: relative;
  top: 40%;
  background-color: rgba(0, 0, 0, 0.35);
  height: 400px;
  width: 100vw;
}

main section .content li {
  font-family: "Gotham";
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section .content li span {
  width: 100px;
  text-align: right;
}

@media screen and (min-width: 1500px) {
  main section {
    background-size: 100% !important;
  }
}
