main {
	#ts {
		background-image: url("../img/ts-default.jpg");
	}
	#tx {
		background-image: url("../img/tx-default.jpg");
	}
	#t3 {
		background-image: url("../img/t3-default.jpg");
	}
	#tr {
		background-image: url("../img/tr-default.jpg");
	}
	#yu {
		background-image: url("../img/yugo.jpg");
	}
	section {
		height: 93vh;
		width: 100%;
		border-bottom: 2px solid rgba(255, 255, 255, 0.8);
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: center;
		h2 {
			font-family: "Gotham";
			font-weight: bold;
			text-align: center;
			position: relative;
			top: 10%;
			background-color: rgba(0, 0, 0, 0.35);
			padding: 10px;
		}
		.section-more {
			position: relative;
			display: flex;
			justify-content: space-around;
			flex-direction: row;
			margin: 0px auto;
			top: 15%;
			button {
				border-radius: 30px;
				font-size: 22px;
				// background-color: rgba(255, 255, 255, 0.3);
				border: 4px solid black;
				font-family: "Gotham";
				font-weight: 700;
				color: white;
				width: 200px;
				display: inline-block;
				background-color: rgb(226, 29, 29);
			}
			.learnMore {
				background-color: rgba(255, 255, 255, 0.3);
				color: black;
			}
		}
		.fade {
			opacity: 0;
		}
		.content {
			transition: 500ms;
			position: relative;
			top: 40%;
			background-color: rgba(0, 0, 0, 0.35);
			height: 400px;
			width: 100vw;
			li {
				font-family: "Gotham";
				font-weight: 700;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				span {
					width: 100px;
					text-align: right;
				}
			}
		}
	}
}
@media screen and (min-width: 1500px) {
	main {
		section {
			background-size: 100% !important;
		}
	}
}
