@font-face {
	font-family: Gotham;
	src: url('../fonts/Gotham-Book.otf');
}
$main-bg: #232323;
html,
body {
	background-color: $main-bg;
	overflow-x: hidden;
}
header {
	width: 100vw;
	font-size: 20px;
	font-family: Gotham;
	height: 6vh;
	border-bottom: 2px solid rgba(255, 255, 255, 0.8);
	background-color: $main-bg;
	position: relative;
	z-index: 100;
	div {
		height: 60px;
		padding-top: 2px;
	}
	.active {
		background-color: red;
		border-radius: 10px;
	}
}
main {
	height: 93vh;
	width: 100vw;
	margin-top: 6vh;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;

	#main-logo {
		background-image: url('../img/main-default.png');
		height: 93vh;
		width: 100vw;
		margin-top: 6vh;
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
	}
}
::-webkit-scrollbar {
	width: 0.5em;
}

::-webkit-scrollbar-track {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 7px;
}

::-webkit-scrollbar-thumb {
	background-color: white;
	outline: 1px solid white;
	border-radius: 7px;
}
